<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <!--<contact>
      <friction_anchor/>
      <lateral_friction value="0.8"/>
      <rolling_friction value="0.001"/>
      <spinning_friction value="0.001"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>-->
    <inertial>
       <!--<origin rpy="0 0 0" xyz="0 0.0 -0.02"/>
       <mass value=".349"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>-->
       <origin rpy="0 0 0" xyz="-0.009342 0.084224 0.050026"/>
       <mass value=".349"/>
       <inertia ixx="0.00000032021" ixy="-0.00000000013" ixz="-0.00000000074" iyy="0.00000032272" iyz="0.00000000032" izz="0.00000017554"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="model://ROS_URDF_objects/005_tomato_soup_can/textured_simple_reoriented.obj" scale="1 1 1"/>
      </geometry>
      <material name="white">
        <color rgba="1. 1. 1. 1."/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="model://ROS_URDF_objects/005_tomato_soup_can/collision_vhacd.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
