<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <!--<contact>
      <friction_anchor/>
      <lateral_friction value="0.3"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>-->
    <inertial>
       <!--<origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.1"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.000001"/>-->
       <origin rpy="0 0 0" xyz="0.000760 0.000739 -0.000306"/>
       <mass value="0.187"/>
       <inertia ixx="0.00000037222" ixy="0.00000000038" ixz="-0.00000000123" iyy="0.00000025065" iyz="-0.00000000031" izz="0.00000055144"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="model://ROS_URDF_objects/008_pudding_box/textured.dae" scale="1 1 1"/>
      </geometry>
      <material name="white">
        <color rgba="1. 1. 1. 1."/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="model://ROS_URDF_objects/008_pudding_box/textured.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
